<!doctype html>
<html lang="ar" dir="rtl">
<head>
<%- include('../head'); -%>
</head>
  <body id="result" style="background-color: #333a40;">
 <%- include('../nav'); -%>
<div class="container">
    <center>
        <div>
            <br><br><br>
            <div class="jumbotron">
                <h1><strong>Error:404 Not Found</strong></h1>
                <br>
                <h2>
                    لم يتم العثور على الصفحة التي تريدها
                </h2>
                <br>
               <a href="/invite" class="btn btn-primary" target="_blank">
                    اضافة البوت
                </a>
                <a href="/" class="btn btn-secondary">
                   الذهاب الي الصفحة الرئيسية
                </a> 
            </div>
    </center>
</div>

</div>
<%- include('../footer'); -%>
 <%- include('../script'); -%>
</body>

</html>