<!doctype html>
<html lang="ar" dir="rtl">
<head>
<%- include('../head'); -%>
</head>
  <body id="result" style="background-color: #333a40;">
<%- include('../nav'); -%>

<div class="mx-auto" style="width: 90%; margin-top: 5vh">
    <center>
        <h1 style="color:white;">
            Pure Commands
        </h1>
    </center>
    <table class="table table-striped table-dark" style="margin-top: 2vh">
        <thead>
            <tr>
                <th scope="col">الأمر</th>
                <th scope="col">وصف الأمر</th>
                <th scope="col">الأستخدام</th>
            </tr>
        </thead>
        <tbody>
            
            <tr>
                <th scope="row">ping$</th>
                <td>معرفة سرعة اتصال البوت فى الوقت الحالي</td>
                <td>ping$</td>
            </tr>
            
            <tr>
                <th scope="row">avatar$</th>
                <td>اظهار صورتك او صورة الى تمنشنه</td>
                <td>avatar$</td>
            </tr>
            
            <tr>
                <th scope="row">help$</th>
                <td>روئية اوامر البوت</td>
                <td>help$</td>
            </tr>
            
            <tr>
                <th scope="row">icon$</th>
                <td>روئية ايقونة السيرفر</td>
                <td>icon$</td>
            </tr>


        </tbody>
    </table>

</div>
<%- include('../footer'); -%>
 <%- include('../script'); -%>
</body>

</html>